@import _colors
@import _size

// USER VARIABLES SECTION

accent = $color.accent1 // Accent Color
fontsize = 16px // Body Font Size
textcolor = $color.white // Text Color
lineheight = 1.65 // Document Line Height
userfont = Din-Pro, sans-serif // User Font Family
systemfont = -apple-system, BlinkMacSystemFont, Arial, sans-serif // System Font Family



em(fontSize, baseFontSize = fontsize)
	(fontSize / baseFontSize)em

// IMPORT SECTION

@import '/node_modules/bootstrap/dist/css/bootstrap-reboot.min.css' // Bootstrap Reboot collection
// @import '/node_modules/bootstrap/dist/css/bootstrap-grid.min.css' // Optional Bootstrap Grid

// FONTS LOAD SECTION

font(fname, fstyle, fweight, furl)
	@font-face
		font-family fname
		font-style fstyle
		font-weight fweight
		src local(fname), url(furl) format('woff2')
		// font-display swap // Uncomment to initially display system fonts



font('Bodoni2', normal, 400, '../fonts/bodoni72c-webfont.woff2')
font('Bodoni2', normal, 700, '../fonts/bodoni72c-bold-webfont.woff2')

font('Din-Pro', normal, 400, '../fonts/din-pro-light.woff2')
font('Din-Pro', normal, 500, '../fonts/din-pro-medium.woff2')
font('Din-Pro', normal, 700, '../fonts/din-pro-bold.woff2')
font('Din-Pro2', normal, 400, '../fonts/din-pro.woff2')

// GENERAL DOCUMENT STYLES

::placeholder
	color #666

::selection
	background-color accent
	color #fff

input, textarea
	outline none
	&:focus:required:invalid
		border-color red
	&:required:valid
		border-color green

body
	font-family userfont
	font-size fontsize
	line-height lineheight
	color textcolor
	min-width 320px
	position relative
	overflow-x hidden
	background $color.dark2
