@import _config

// CUSTOM USER STYLES & IMPORTS
.container
    max-width 1440px
    margin 0 auto
    padding 0 28px
    @media ( max-width size-notebook )
        max-width 1200px
        padding 0 24px
        font-size 14px
    @media ( max-width size-tablet )
        max-width 768px
        padding 0 24px
    @media ( max-width size-mobile )
        width 100%
        padding 0 20px



@import _firstscreen
@import _story
@import _taste
@import _recipes
@import _footer